@media print {
  html, body {
    margin: 0;
    padding: 0;
    width: 58mm;
    height: auto;
  }

  body * {
    visibility: hidden;
  }

  #ticket, #ticket * {
    visibility: visible;
  }

  #ticket {
    position: absolute;
    top: 0;
    left: 0;
    width: 58mm !important;
    padding: 5px !important;
    font-size: 14px !important; /* Aumentado */
    font-family: helvetica, sans-serif !important; /* Cambiado */
    page-break-inside: avoid;
    page-break-after: avoid;
  }
}
